* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-body: Quicksand;
    --color-light: #fcfcfc;
    --color-blue-300: #89c2d9;
    --color-blue-400: #468faf;
    --color-blue-500: #2a6f97;
    --color-blue-600: #01497c;
    --color-blue-900: #2c2a4a;
    --radius: 5px;
}

body {
    font-family: var(--font-body, monospace);
    background-color: var(--color-blue-900);
    color: var(--color-light);
}

h2 {
    margin-top: 1.5rem;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto 0;
    padding: 10px 20px;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box {
    width: 100%;
    margin: .5rem auto;
    height: 4rem;
    padding: 0 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    background: var(--color-blue-300);
}

.box-2 {
    background: var(--color-blue-400);
}

.box-3 {
    background: var(--color-blue-500);
}

.box-4 {
    background: var(--color-blue-600);
}